<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA CLick" >
<listeners>
    <listener class-name = "screenshotpackage.Listener"></listener>
    </listeners>


  <test name="VerifyCheckoutAutomationPractice">
	<classes>
	     <class name="thirdPackage.AutomationPractice"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="LoginIntoAppicalUAT">
	<classes>
	     <class name="secondPackage.AppicalUATLogin"/>
    </classes>
  </test> <!-- Test -->

  <test name="AppicalUAT">
  <classes>
  	<class name="secondPackage.AppicalUAT">
  	</class>
  </classes>
  </test>
</suite> 

